<!DOCTYPE html>
<html lang="it" xmlns:xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/admin/css/style.css">
</head>
<body>
<div class="dashboard">
    <h1>Admin Dashboard</h1>
    <h2>Utenti</h2>
    <table id="usersTable">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Ruoli</th>
            <th>Stato</th>
            <th>Azione</th>
        </tr>
        </thead>
        <tbody>
        <!-- Le righe della tabella saranno aggiunte dinamicamente -->
        </tbody>
    </table>
</div>
<div>
    <button id="logout-btn">Logout</button>
</div>
<script src="/admin/scripts/app.js"></script>
</body>
</html>
